.floating-userlist-button {
  position: fixed;
  bottom: 20px;
  right: 90px; /* Adjust position to not overlap with cart button */
  background-color: var(--color-primary);
  color: white;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.floating-userlist-button:hover {
  background-color: var(--color-primary-dark);
}
