.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
}

.navbar .navbar-brand {
  color: var(--navbar-text);
}

.navbar .nav-link {
  color: var(--navbar-text);
}

.navbar .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.navbar .nav-link:hover {
  color: var(--primary-color);
}

.navbar .nav-link svg {
  color: var(--navbar-text);
  transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover svg {
  color: var(--primary-color);
}

.btn-primary svg {
    color: white;
}

.dropdown-menu {
  background-color: var(--card-bg);
}

.dropdown-item {
  color: var(--text-color);
}

.dropdown-item:hover {
  background-color: var(--primary-color);
  color: var(--card-bg);
}

.dropdown-item svg {
  color: var(--text-color);
  margin-right: 8px;
  transition: color 0.2s ease-in-out;
}

.dropdown-item:hover svg {
  color: var(--card-bg);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -1px;
  min-width: 10rem;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-toggle::after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
