:root {
  --background-color: #fff;
  --text-color: #000;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --card-bg: #fff;
  --navbar-bg: #f8f9fa;
  --navbar-text: #000;
  --footer-bg: #343a40;
  --footer-text: #fff;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #fff;
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --card-bg: #1e1e1e;
  --navbar-bg: #212529;
  --navbar-text: #fff;
  --footer-bg: #212529;
  --footer-text: #fff;
}

body {
  margin: 0;
  font-family: 'Geologica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
